<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6">
    <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600,700' rel='stylesheet' type='text/css'>

      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <div class="shadow"></div>
            <img src="https://i.imgur.com/azxHelS.jpg" alt="Empire Propaganda" />
            <div class="image_overlay"></div>
            <div id="view_details">View details</div>
            <div class="stats">
              <div class="stats-container">
                <span class="product_price">$19.97</span>
                <span class="product_name">Empire Propaganda</span>
                <p>Men's Graphic T-Shirt</p>
                <div class="product-options">
                  <strong>SIZES</strong>
                  <span>XS, S, M, L, XL, XXL, 3XL</span>
                  <strong>COLORS</strong>
                  <span>
                    Black </span>
                </div>
              </div>
            </div>
          </div>
          <div id="product-back">
            <div class="shadow"></div>
            <div id="carousel">
              <ul>
                <li class="product-image1"></li>
                <li class="product-image2"></li>
                <li class="product-image3"></li>
              </ul>
              <div class="arrows-perspective">
                <div class="carouselPrev">
                  <div class="y"></div>
                  <div class="x"></div>
                </div>
                <div class="carouselNext">
                  <div class="y"></div>
                  <div class="x"></div>
                </div>
              </div>
            </div>
            <div class="button">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                onclick="window.open('https://www.designbyhumans.com/shop/t-shirt/men/empire-propaganda/152012/', '_blank')">
                See More
              </button>
            </div>
            <div id="flip-back">
              <div id="cy"></div>
              <div id="cx"></div>
            </div>
          </div>
        </div>
      </div>

      

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    </div>
    
  </div>
</div>