@use 'styles/appearances/default';
@use 'styles/appearances/compact';
@use 'styles/appearances/dense';
@use 'styles/appearances/thin';

.vertical-left-menu {
    width: 8rem !important;
    background-color: black !important;
}

.social-media-btn {
    color: #08FDD8 !important;
}