@use 'styles/appearances/default';
@use 'styles/appearances/compact';
@use 'styles/appearances/dense';
@use 'styles/appearances/thin';

.vertical-left-menu {
    width: 8rem !important;
    background-color: black !important;
}

.social-media-btn {
    color: #08FDD8 !important;
}

@font-face {
    font-family: coolvetica;
    src: url(../../../../assets/fonts/coolvetica/coolvetica.rg-regular.otf) format("opentype");
}

.my-font {
    font-family: coolvetica;
}