@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.title-text {
  font-family: Poppins;
}

@font-face {
  font-family: coolvetica;
  src: url(../../../../../assets/fonts/coolvetica/coolvetica.rg-regular.otf)
    format("opentype");
}

@font-face {
    font-family: La_Belle_Aurore;
    src: url(../../../../../assets/fonts/La_Belle_Aurore/LaBelleAurore-Regular.ttf)
      format("opentype");
  }

.title-font {
  font-family: coolvetica;
}

.font-tags {
  color: #515152;
  font-style: italic;
  font-family: "La_Belle_Aurore", cursive;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #08fdd8;
  border: 1px solid #08fdd8;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 6px -3px rgba(6, 4, 10, 0.5);
}

.button::before {
  content: "";
  background: #fff;
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -97px;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.button:hover {
  background: #111;
  color: #fff;
}

.button:hover::before {
  transform: skewX(-45deg) translateX(15.5em);
  transition: all 0.5s ease-in-out;
}

.field-height {
    height: 3.5rem;
}

.text-effect {
  color: #05fdd8 !important;
}