<div class="flex flex-col min-w-0">
    <div class="flex-auto p-6 sm:p-10 gap-x-4">
        <div class="font-tags text-3xl">&lt;html&gt;</div>
        <div class="font-tags text-3xl">&lt;body&gt;</div>

        <div class="sm:flex sm:flex-row sm:gap-x-6">
            <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2">
                <div class="flex flex-col">
                    <div class="font-tags text-3xl sm:ml-5">&lt;h1&gt;</div>
                    <h2 class="title-font ml-5 sm:ml-12 text-7xl md:text-8.5xl lg:text-8.5xl text-effect">
                        My, Myself & I
                    </h2>
                    <div class="font-tags text-3xl sm:ml-5 inline">&lt;/h1&gt;</div>
                    <div class="font-tags text-3xl sm:ml-5">&lt;p&gt;</div>
                    <div class="ml-5 sm:ml-12 text-lg">
                        <p>I’m a Front-End Developer located in Poland. I have a serious passion for UI effects,
                            animations
                            and creating intuitive, dynamic user experiences.</p>
                        <br>
                        <p>Well-organised person, problem solver, independent employee with high attention to detail.
                            Fan
                            of MMA, outdoor activities, TV series and English literature. A family person and father of
                            two
                            fractious boys,</p>
                        <br>
                        <p>Interested in the entire frontend spectrum and working on ambitious projects with positive
                            people.</p>
                        <br>
                        <p class="text-effect"><a href="/contact"> Let’s make something special. </a></p>
                    </div>
                    <div class="font-tags text-3xl sm:ml-5">&lt;/p&gt;</div>
                </div>
            </div>
            <div class="flex flex-auto md:w-1/2 justify-center">
                    <span class="content"></span>
            </div>
        </div>
        <div class="font-tags text-3xl">&lt;/body&gt;</div>
        <div class="font-tags text-3xl">&lt;/html&gt;</div>
    </div>

</div>