@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: coolvetica;
  src: url(../../../../assets/fonts/coolvetica/coolvetica.rg-regular.otf)
    format("opentype");
}

@font-face {
  font-family: La_Belle_Aurore;
  src: url(../../../../assets/fonts/La_Belle_Aurore/LaBelleAurore-Regular.ttf)
    format("opentype");
}

.title-font {
  font-family: coolvetica;
}

.font-tags {
  color: #515152;
  font-style: italic;
  // font-size: 1.6rem;
  font-family: "La_Belle_Aurore", cursive;
}

.text-effect {
  color: #05fdd8;
}

.button {
  // padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  color: #08fdd8;
  border: 1px solid #08fdd8;
  font-size: 23px;
  // text-transform: uppercase;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 6px -3px rgba(6, 4, 10, 0.5);
}

.button::before {
  content: "";
  background: #fff;
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -97px;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.button:hover {
  background: #111;
  color: #fff;
}

.button:hover::before {
  transform: skewX(-45deg) translateX(15.5em);
  transition: all 0.5s ease-in-out;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
//   width: 400px;
//   height: 300px;
  position: absolute;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: none;
  animation: updown 1s ease 0.2s infinite;
  z-index: 99;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(0.95);
    opacity: 0.28;
  }

  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}
