<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2">
            <div class="flex flex-col">
                <!-- <span class="font-tags">&lt;html&gt;</span> -->
                <div class="font-tags">&lt;html&gt;</div>
                <div class="font-tags ml-5">&lt;body&gt;</div>
                <div class="font-tags ml-5">&lt;h1&gt;</div>
                <h2 class="title-font ml-12 text-7xl md:text-8.5xl lg:text-8.5xl text-effect"
                    style="line-height: 5rem;">
                    Skills & <br> Experience
                </h2>
                <div class="font-tags ml-5 inline">&lt;/h1&gt;</div>
                <div class="font-tags ml-5">&lt;p&gt;</div>
                <div class="ml-12 text-lg">
                    <p>Since beginning my journey as a freelance developer nearly 10 years ago, I’ve done remote work
                        for agencies, consulted for startups, and collaborated with talented people to create web
                        products for both business and consumer use.</p>
                    <br>
                    <p>I create successful responsive websites that are fast, easy to use, and built with best
                        practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small
                        and medium web apps, custom plugins, features, animations, and coding interactive layouts.</p>
                    <br>
                    <p>I also have full-stack developer experience with popular open-source CMS like (WordPress, Drupal,
                        Magento, Keystone.js and others) .</p>
                    <br>
                    <p>Visit my<a class="text-effect" href="/contact"> LinkedIn </a>profile for more details or just<a
                            class="text-effect" href="/contact"> contact</a> me.</p>
                </div>
                <div class="font-tags ml-5">&lt;/p&gt;</div>
                <div class="font-tags ml-5">&lt;/body&gt;</div>
                <div class="font-tags">&lt;/html&gt;</div>
            </div>
        </div>

    </div>