<div class="flex flex-row flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
            <msr-card class="flex flex-col max-w-80 w-full filter-article filter-interactive" [flippable]="true"
                [face]="'front'" #flippableCard01="msrCard">
                <ng-container msrCardFront>
                    <div class="flex flex-col flex-auto container card">
                        <div class="p-6 bg-black imgBx">
                            <img class="object-cover" src="../../../../assets/images/demo/azxHelS.jpg" alt="Card cover image">
                        </div>
                        <div class="m-8 mb-4 contentBx">
                            <div class="text-2xl font-semibold leading-tight size">Most beautiful and quite
                                places to see
                            </div>
                            <div class="mt-4">From rocky mountains to crystal clear lakes, there are the
                                places you must
                                see
                                and enjoy.</div>
                            <div class="mt-3 -mx-3">
                                <button class="px-3" mat-button
                                    (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>

                </ng-container>
                <ng-container msrCardBack>
                    <div class="flex flex-col flex-auto m-4">
                        <button class="ml-1.5" mat-icon-button
                            (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3">
                            <div class="text-2xl font-semibold leading-tight">
                                Most beautiful and quite places to see
                            </div>
                            <div class="mt-4">
                                From rocky mountains to crystal clear lakes, these are the places you must see and
                                enjoy.
                                You can bring your own food and have a little picnic on top of the amazing grasslands.
                            </div>
                            <div class="mt-4">
                                From rocky mountains to crystal clear lakes, these are the places you must see and
                                enjoy.
                                You can bring your own food and have a little picnic on top of the amazing grasslands.
                            </div>
                        </div>
                    </div>
                </ng-container>
            </msr-card>

            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img style="margin-top: 8rem; width: 9rem;" src="../../../../assets/images/demo/azxHelS.jpg"
                            alt="nike-air-shoe">
                    </div>

                    <div class="contentBx">

                        <h2>Join Empire</h2>

                        <div class="size">
                            <h3>Size :</h3>
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                            <span>10</span>
                        </div>

                        <div class="color">

                            <h3>Color :</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>

                </div>
            </div>

        </div>

    </div>