<div class="flex flex-row flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="flex flex-row flex-auto h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
            <msr-card class="flex flex-row max-w-80 w-full filter-article filter-interactive" [flippable]="true"
                [face]="'front'" #flippableCard01="msrCard">
                <ng-container msrCardFront>
                    <div class="flex flex-col flex-auto container card">
                        <div class="p-6 bg-black imgBx">
                            <img class="object-cover" src="../../../../assets/images/demo/azxHelS.jpg" alt="Card cover image">
                        </div>
                        <div class="m-8 mb-4 contentBx">
                            <div class="text-2xl font-semibold leading-tight size">Most beautiful and quite
                                places to see
                            </div>
                            <div class="mt-4">From rocky mountains to crystal clear lakes, there are the
                                places you must
                                see
                                and enjoy.</div>
                            <div class="mt-3 -mx-3">
                                <button class="px-3" mat-button
                                    (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>

                </ng-container>
                <ng-container msrCardBack>
                    <div class="flex flex-col flex-auto m-4">
                        <button class="ml-1.5" mat-icon-button
                            (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3">
                            <div class="text-2xl font-semibold leading-tight">
                                Most beautiful and quite places to see
                            </div>
                            <div class="mt-4">
                                From rocky mountains to crystal clear lakes, these are the places you must see and
                                enjoy.
                                You can bring your own food and have a little picnic on top of the amazing grasslands.
                            </div>
                            <div class="mt-4">
                                From rocky mountains to crystal clear lakes, these are the places you must see and
                                enjoy.
                                You can bring your own food and have a little picnic on top of the amazing grasslands.
                            </div>
                        </div>
                    </div>
                </ng-container>
            </msr-card>

            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img style="margin-top: 8rem; width:12rem;" src="../../../../assets/images/demo/rocky_m_gear_logo.png"
                            alt="Project_Logo">
                    </div>

                    <div class="contentBx">
                        <div class="title-font text-4xl tracking-wide leading-7">
                            ROCK'S MOUNTAIN <span class="inline title-font text-effect">GEAR</span> 
                        </div>

                        <div class="size">
                            <img class="icon-size-12" src="../../../../assets/images/tech/html-logo.png" alt="html-logo">
                            <img class="icon-size-12" src="../../../../assets/images/tech/css-logo.png" alt="css-logo">
                            <img class="icon-size-12" src="../../../../assets/images/tech/js-logo.png" alt="js-logo">
                            <img class="icon-size-12" src="../../../../assets/images/tech/angular-logo.png" alt="angular-logo">
                            <img class="icon-size-12" src="../../../../assets/images/tech/ts-logo.png" alt="ts-logo">
                        </div>

                        <!-- <div class="color">
                            <h3>Color :</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div> -->
                        <a href="#">View Project</a>
                    </div>

                </div>
            </div>

        </div>

    </div>