<div class="flex flex-col sm:flex sm:flex-row p-6 min-w-0 gap-x-6 m-auto">
        <div
            class="flex flex-row flex-wrap gap-x-6 gap-y-6 md:gap-x-12 md:gap-y-12 justify-center mt-12 sm:mt-6 m-auto">
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <div class="mt-32 ml-20">
                            <img src="../../../../assets/images/demo/ardian-flux-logo.png" alt="Project_Logo" style="width: 10rem;">
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="title-font text-4xl tracking-wide leading-7">
                            ADRIAN <span class="inline title-font text-effect">FLUX</span>
                        </div>

                        <div class="size flex flex-row">
                            <div class="flex flex-wrap text-center">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/html-logo.png" alt="html-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/css-logo.png" alt="css-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/js-logo.png" alt="js-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/angular-logo.png" alt="angular-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/ts-logo.png" alt="ts-logo">
                            </div>
                        </div>
                        <a href="#">View Project</a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <div class="mt-32 ml-16">
                            <img src="../../../../assets/images/demo/rocky_m_gear_logo.png" alt="Project_Logo" style="width: 12rem;">
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="title-font text-4xl tracking-wide leading-7">
                            ROCK'S MOUNTAIN <span class="inline title-font text-effect">GEAR</span>
                        </div>

                        <div class="size flex flex-row">
                            <div class="flex flex-wrap text-center">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/html-logo.png" alt="html-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/css-logo.png" alt="css-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/js-logo.png" alt="js-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/angular-logo.png" alt="angular-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/ts-logo.png" alt="ts-logo">
                            </div>
                        </div>
                        <a href="#">View Project</a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <div class="mt-32 ml-16">
                            <img style="width:12rem;" src="../../../../assets/images/logo/arrow-logo.png" alt="Project_Logo">

                            <!-- <img src="../../../../assets/images/demo/rocky_m_gear_logo.png" alt="Project_Logo" style="width: 12rem;"> -->
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="title-font text-4xl tracking-wide leading-7">
                            MSR PORTFOLIO <br><span class="inline title-font text-effect">SITE</span>
                        </div>

                        <div class="size flex flex-row">
                            <div class="flex flex-wrap text-center">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/html-logo.png" alt="html-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/css-logo.png" alt="css-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/js-logo.png" alt="js-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/angular-logo.png" alt="angular-logo">
                                <img class="icon-size-12" src="../../../../assets/icons/tech/ts-logo.png" alt="ts-logo">
                            </div>
                        </div>
                        <a href="#">View Project</a>
                    </div>
                </div>
            </div>
        </div>


    </div>