<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <div class="flex flex-col">
                <!-- <span class="font-tags">&lt;html&gt;</span> -->
                <div class="font-tags">&lt;html&gt;</div>
                <div class="font-tags ml-5">&lt;body&gt;</div>
                <div class="font-tags ml-5">&lt;h1&gt;</div>
                <h1 class="my-font ml-12">Hi,</h1>
                <div class="my-font ml-12">I'm <img class="m-logo-w inline mt-2_3"
                        src="assets/images/logo/arrow-logo.png" alt="Logo image">ohit</div>
                <div class="my-font ml-12">web developer <div class="font-tags inline">&lt;/h1&gt;</div>
                </div>
                <div class="font-tags ml-5">&lt;p&gt;</div>
                <div class="grey-text ml-12">
                    Full Stack Developer | Solution Architech | Devops Engineer
                </div>
                <div class="font-tags ml-5">&lt;/p&gt;</div>

                <div class="buttons text-left ml-10">
                    <button class="blob-btn">
                        Contact Me!
                        <span class="blob-btn__inner" style="background-color: #fd2155;">
                            <span class="blob-btn__blobs">
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                            </span>
                        </span>
                    </button>
                    <br />

                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <filter id="goo">
                                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                <feColorMatrix in="blur" mode="matrix"
                                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                            </filter>
                        </defs>
                    </svg>

                </div>
            </div>

        </div>

    </div>