@font-face {
    font-family: coolvetica;
    src: url(../../../../assets/fonts/coolvetica/coolvetica.rg-regular.otf) format("opentype");
}

.my-font {
    font-family: coolvetica;
    font-size: 6rem;
}