@font-face {
  font-family: coolvetica;
  src: url(../../../../assets/fonts/coolvetica/coolvetica.rg-regular.otf)
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: La_Belle_Aurore;
  src: url(../../../../assets/fonts/La_Belle_Aurore/LaBelleAurore-Regular.ttf)
    format("opentype");
}

.title-font {
  font-family: coolvetica;
}

.tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  font-style: italic;
  font-family: "La_Belle_Aurore", cursive;
}

.html-tags {
  bottom: auto;
  top: 2rem;
}

.body-tags {
  bottom: auto;
  top: 4rem;
  left: 4rem;
}

.h1-tags {
  bottom: auto;
  top: 10rem;
  left: 36rem;
}

.p-tags {
  bottom: auto;
  top: 10rem;
  left: 36rem;
}

.font-tags {
  color: #515152;
  font-style: italic;
  font-family: "La_Belle_Aurore", cursive;
}

.grey-text {
  font-family: Poppins;
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: block;
  color: #8d8d8d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: "Open Sans", Helvetica, Arial, sans-serif;
body {
  background: #333;
  font-family: $openSans;
}

.buttons {
  // margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #08fdd8;
  border: 1px solid #08fdd8;
  font-size: 23px;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 6px -3px rgba(6, 4, 10, 0.5);
}

.button::before {
  content: "";
  background: #fff;
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -97px;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.button:hover {
  background: #111;
  color: #fff;
}

.button:hover::before {
  transform: skewX(-45deg) translateX(15.5em);
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: none;
  animation: updown 1s ease 0.2s infinite;
  z-index: 99;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }

  50% {
    transform: scale(0.95);
    opacity: 0.28;
  }

  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

.hover-effect:hover {
  color: #05fdd8;
}

/* Config */
$color-bg: red;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #0f172a;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

h4 {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

h4:hover {
  color: #ff1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
